* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    width: 100%;
}
nav .logo {
    width: 25%;
    max-width: 100%;
}
nav {
    height: 100%;
    width: 100%;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00007e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 12px;
    position: sticky;
    z-index: 2;
    top: 0;
}
nav ul {
    display: flex;
    gap: 12px;
    max-width: 100%;
}
nav ul li{
    list-style: none;
    color: white;
}
#cursos , .cursos{
    display: none;
    user-select: none;
}
.drop-down{
    display: block;
    display: none;
}
#cursos:checked ~ .drop-down{
    display: block;
}
nav li:hover {
    background-color: #00007e;
}
#burger , .burger{
    display: none;
    user-select: none;
}
.burger:hover{
    background-color: #c88302;
    border-radius: 10px;
}
a {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 12px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a:hover {
    color: #c88302;

}
.hero {
    background-size: cover;
    background-position: 50%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
}
#hero {
    background-image: url("./IMG/hero.jpg");
}
.hero{
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}
.hero .contenido {
    border-radius: 8px;
    padding: 25px;
    text-align: center;
    max-width: 600px;
    width: 100%;
    margin: 24px;
}
.hero h1{
    color: whitesmoke;
    font-size: 48px;
    margin-bottom: 32px;
}
.hola{
    margin: 6em;
}
.hola #why{
    margin-bottom: 2em;
}
.hola h1{
    margin-top: 3em;
    font-size: 2em;
    text-align: center;
}
.hola span{
    font-size: 3em;
    color: #c88302;
}
.asignaturas,.teachers,.metodologia,.groups,.clases{
    align-items: center;
    width: fit-content;
    margin-bottom: 24px;
}
.hola h2{
    background-color: #00007e;
    color: whitesmoke;
    margin: 5px;
}
.hola img{
    margin: 3em auto 0 auto;
    height: 100%;
    width: 100%;
}
#hero-horarios{
    background-image: url(./IMG/cover_horarios.jpg);
}
main {
    min-height: 85vh;
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin: 0 auto 0 auto;
    justify-content: center;
    width: fit-content;
    gap:139px;
    margin-top: 8em;
    padding: 0px 24px;
    margin-left: auto;
    margin-right: auto;
}
#horarios{
    display: flex;
    gap: 3em;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}
main .icon{
    margin-bottom: 10px;
    text-align: center;
}
main h1 , .icon{
    text-align: center;
}
main h1,h3{
    width: 200px;
    text-align: center;
}
main .fa-solid, .ph-bold{
    font-size: 50px;
}
main img{
    width: 40em;
    height: 40em;
}
main article{
    text-align: center;
    border: solid 5px whitesmoke;
    height: 15em;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}
main article h2{
    font-size: 27px;
}
#hero-alumnos  {
    background-image: url(./IMG/hero.jpg);
}
#hero-servicios {
    background-image: url(./IMG/hero.jpg);
}
.btn,.btn {
    display: inline-block;
    border: 2px solid #c88302;
    border-radius: 10px;
    padding: 15px 30px;
    background-color: transparent;
    color: #c88302;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    width: fit-content;
}
.btn:hover {
    background-color: transparent;
    cursor: pointer;
    color: #c88302;
}
#hero-alumnos{
    background-image: url(./IMG/img-alumnos.jpg);
}
.alumnos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 24px;
    object-fit: cover;
}
.alumnos article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #efefef;
    width: 100%;
    max-width: 300px;
    padding: 24px;
}
.alumnos article img {
    width: 300px;
    object-fit: cover;
    max-width: 300px;
    width: 100%;
    height: 182.4px;
    min-width: 200px;
    object-fit: cover;
}
#hero-contact{
    background-image:url(./IMG/cover_contact.jpg);
}
#hero-services{
    background-image: url(./IMG/img_services.jpg);
}
.main .content{
    padding: 0px 0px 27px;
    width: 600px;
    height: 120px;
}
.main .content h1{
    margin: 0px 0px 27px;
    font-size: 40px;
}
.main{
    border-top: 5em;
    display: flex;
}
.main img{
    height: 1300px;
    margin-right: 10em;
}
.main p{
    font-size: 32px;
}
form {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    max-width: 800%;
    padding: 50px;
    border-radius: 25px;
    margin: auto;
}
iframe{
    width: 900px;
    height:400px;
    justify-content: center;
    align-items:center;
}
h2 {
    color: black;
}
label {
    font-size: 17px;
    margin-bottom: 10px;
}
input, textarea {
    padding: 12px 14px;
    border: 1px solid black;
    margin: 12px 0 20px;
    border-radius: 10px;
    color: #000000;
}
footer {
    background-color: orange;
    bottom: 0;
    width: 100%;
    height: 100%;
}
footer .rows .logo img {
    max-width: 150px;
}
footer ul {
    list-style: none;
}
footer h3 {
    font-size: 24px;
}
.rows {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 20px;
}
.rows div {
    width: 33%;
}
.tienda, .social {
    display: flex;
    place-items: center;
    flex-direction: column;
    gap: 20px;
}
.logo {
    display: flex;
    place-content: center;
}
.social ul {
    display: flex;
    gap: 10px;
}
.ph {
    font-size: 32px;
    color: white;
}
/********************************************media*****************************************/
@media (max-width:1208PX) {
    nav .responsive-hidden  {
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        display: none;
    }
    .responsive-hidden:hover {
    border-bottom: none;
    }
    #burger:checked ~ .responsive-hidden {
        display: block;
        position: absolute;
        top: 106px;
        right: 0;
        background-color: #00007e;
        padding: 12px 32px;
        padding-right: 12px;
        width: auto;
    }
    .burger{
        display: block;
    }
    #hero {
        height: 80vh;
    }
    main{
        display: block;
        justify-content: center;
    }
    main  #horarios{
        display: flex;
        flex-direction: column;
        margin-right: 10em;
        gap: 100px;
    }
    main .icon{
        margin-right: auto;
        margin-left: auto;
    }
    .asignaturas{
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .main .content{
    padding: 0;
    width: fit-content;
    height: fit-content;
    }
    .main img{
        height: 80vh;
    }
    footer .logo {
    display: none;
    }
    form {
        width: 100%;
    }
}